<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycom.myapp.board.dao.BoardDao">

	<select id="listBoard" parameterType="com.mycom.myapp.board.dto.BoardParamDto" resultType="com.mycom.myapp.board.dto.BoardDto">
		select b.board_id, b.user_seq, u.user_name, u.user_profile_image, b.title, b.content, b.reg_dt, b.read_count
		  from board b, users u
		where b.user_seq=u.user_seq
		order by b.board_id desc
		limit #{limit} offset #{offset};
	</select>
	
	<select id="listBoardTotalCount">
		select count(*) from board;
	</select>
	
	<select id="listBoardSearchWord" parameterType="com.mycom.myapp.board.dto.BoardParamDto" resultType="com.mycom.myapp.board.dto.BoardDto">
		select b.board_id, b.user_seq, u.user_name, u.user_profile_image, b.title, b.content, b.reg_dt, b.read_count
		  from board b, users u
		where b.user_seq=u.user_seq
		  and b.title like concat('%', #{searchWord}, '%')
		order by b.board_id desc
		limit #{limit} offset #{offset};
	</select>
	
	<select id="listBoardSearchWordTotalCount" parameterType="com.mycom.myapp.board.dto.BoardParamDto">
		select count(*) from board where title like concat('%', #{searchWord}, '%');
	</select>
</mapper>